@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

main {
  width: 70%;
  height: 80vh;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  background-color: #fff;
}

header {
  width: 70%;
  margin: 0 auto;
}

.board {
  display: flex;
  justify-content: center;
  column-gap: 10%;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.add-score {
  width: 40%;
  height: auto;
}

.add-score form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.board-title input {
  border: none;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  background-color: #ddd;
  color: #333;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.add-score form input {
  height: 50px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

.add-score form input[type='text'],
.add-score form input[type='number'] {
  width: 100%;
  padding: 0 10px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  background-color: #ddd;
}

.add-score form input[type='text']:focus,
.add-score form input[type='number']:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-score form input[type='submit'] {
  width: 20%;
  padding: 0 10px;
  float: right;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ddd;
}

.add-score form input[type='submit']:hover {
  background-color: grey;
  color: #fff;
}

.board-title input:hover {
  background-color: grey;
  color: #fff;
}

.add-score form input:nth-child(4) {
  display: flex;
  align-self: flex-end;
}

.items {
  display: flex;
  flex-direction: column;
  width: 40%;
}

header h1,
.add-score h1,
.board-items li {
  color: #333;
}

.board-title {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.board-title h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #333;
}

.board-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.board-items::-webkit-scrollbar {
  display: none;
}

.board-items li {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
}

.board-items li:nth-child(even) {
  background-color: #ddd;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }

  .add-score {
    width: 50%;
  }

  .board {
    column-gap: 5%;
  }
}

@media screen and (max-width: 480px) {
  main {
    width: 100%;
  }

  .add-score {
    width: 100%;
  }

  .board {
    column-gap: 5%;
    flex-direction: column;
    height: auto;
    row-gap: 20px;
    background: white;
  }

  .items {
    width: 100%;
  }

  .board-title {
    padding-right: 20px;
    padding-left: 20px;
  }

  .board-items {
    margin: 0 20px;
    width: 90%;
  }

  .add-score form {
    margin: 0 20px;
    width: 90%;
    background-color: #fff;
  }

  .add-score h1 {
    width: 90%;
    margin: 10px 20px;
  }

  header {
    width: 90%;
  }
}

.message {
  width: 100%;
  height: 50px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #333;
  background-color: #ddd;
  border-radius: 5px;
}

.message.show {
  display: flex;
}

.message .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 1.5rem;
}
